<!DOCTYPE html>
<html>
    <head>
        <title>Account List</title>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
		<h2>Accounts for <span id="displayname">User Name</span></h2>
		<form action="/" method="get">
		    <h3 style="display:inline;">Filter on</h3>
			<select id="field" name="field">
      		  <% @field_list['fields'].each do |field| %>
                <% if field['type'] == 'string' %>
				  <option value="<%= field['name'] %>"><%= field['label'] %></option>
                <% end %>
              <% end %>
			</select>
			<input type="text" id="value" name="value" />
			<input type="submit" id="go" name="search" value="Search" />
		</form>
		<form action="/action" method="post">
			<input type="submit" id="new" name="new" value="New" />
		</form>
		<table class="accountlist">
		  <% if @accounts && @accounts['records'] %>
		    <% @accounts['records'].each do |record| %>
			    <tr><td><a href="detail?id=<%= record['Id'] %>"><%= record['Name'] %></a></td></tr>
        <% end %>
      <% else %>
		    <%= @accounts.inspect %>
      <% end %>
		</table>
		<br/>
		<a href="logout" id="logout">Logout</a>
	</body>
</html>